<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MySuite">
	<test name="Regression">
		<classes>
			<class name="testNGPractice.Class1" />
			<class name="testNGPractice.Class2" />
		</classes>
	</test>
	<test name="Sanity">
		<classes>
			<class name="testNGPractice.Class3">
				<methods>
					<exclude name="samp31" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
